
extends layouts.pug

block content
    if todo
        table(class='table table-bordered')
            thead
                tr
                    th Todo List
                    th Deskripsi
            tbody
            each to in todo
                tr
                    td  #{to.name}
                    td  #{to.description} 
